*.pyc
*.tgz
*.gz
*.csv
*.bak
*.pkl

maildir/
images/


.DS_Store
Enron_01
datasets_questions/.vscode/settings.json
final_project/.ipynb_checkpoints/Free-Response-Answers-checkpoint.ipynb
final_project/Free-Response-Answers.ipynb
